{# app/Resources/views/achievement/view.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
Achievement
{% endblock %}

{% block body %}


<table style="width:100%">

  <tr>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td><b>Achievement:</td>
    <td>{{achievement.title|e}}</td>
  </tr>
  <tr>
    <td><b>Description:</td>
    <td>{{achievement.description|e}}</td>
  </tr>

  <tr>
  <td><b>Achieved Date:</td>
<td>{{achievement.achievedDate| date('Y-m-d') |e}}
  </td>
 </tr>

</table>
{% endblock %}
