
{# app/Resources/views/player/view.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
 Sport Details
{% endblock %}

{% block body %}


<table style="width:100%">

  <tr>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td><b>Sport Name:</td>
    <td>{{sport.name}}</td>
  </tr>
  <tr>
    <td><b>Description:</td>
    <td>{{sport.description}}</td>
  </tr>



  <tr>
<td><b>Involved Players:</td>
<td>
<table style="width:100%">
{%for p in players %}
 <tr>
 <td>
<a href="{{url('player_view',{'id':p.id})}}">{{ p.name|e }}</a>
 </td>
 </tr>
{% endfor %}
</table>
</td>
</tr>

</table>
{% endblock %}