{# app/Resources/views/authorizingOfficer/viewall.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
    Sports
{% endblock %}

{% block links %}
    <div class="btn-group" >
       <a href="{{url('sport_create')}}"> <button type="button" class="btn btn-xs btn-success">Create Sport</button></a>
    </div>
{% endblock %}

{% block body %}


<table width="100%">
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>

    {% for user in sports %}
    <tr>
        <td> <a href="{{url('sport_view',{'id':user.id})}}">{{ user.name|e }}</a></td>
        <td> {{ user.description|e }}</td>
    </tr>
    {% endfor %}
</table>


{% endblock %}





