{# app/Resources/views/default/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
Equipment Details
{% endblock %}

{% block links %}
    <div class="btn-group" >
       <a href="{{url('equipment_update',{'id':equipment.id})}}"> <button type="button" class="btn btn-xs btn-warning">Update Equipment
       </button></a>
    </div>
{% endblock %}


{% block body %}
<head>
<style>
table, th, td {

    border-collapse: collapse;
}
th, td {
    padding: 0px;
    text-align: left;
}
</style>
</head>
<body>

<table style="width:30%">

  <tr>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td><b>Name:</td>
    <td>{{equipment.name}}</td>
  </tr>
  <tr>
    <td><b>Description:</td>
    <td>{{equipment.description}}</td>
  </tr>
   <tr>
    <td><b>Amount:</td>
    <td>{{equipment.amount}}</td>
  </tr>

  
</table>

</body>
{% endblock %}